%dropdown-visible
  opacity: 1
  visibility: visible
  transform: translateY(0)
  +shadow (medium)

.dropdown
  width: 100%
  position: relative
  display: inline-block

  .dropdown-title
    padding: 0.5rem 0
    cursor: pointer
    word-break: keep-all

    a,
    a:visited
      color: $dropdown-title-color

  &.is-visible .dropdown-body
    @extend %dropdown-visible

  .dropdown-body
    overflow: hidden
    width: 100%
    position: absolute
    opacity: 0
    visibility: hidden
    background: $dropdown-background
    color: $dropdown-item-color
    box-shadow: 0
    padding: 0
    transform: translateY(1rem)
    transition: all 0.2s ease-out
    +radius (small)
    +shadow (small)

    ul
      margin: 0
      padding: 0
      list-style-type: none

      li
        margin: 0

  &:hover
    .dropdown-body
      @extend %dropdown-visible

  // Size
  &.small .dropdown-body
    width: 8rem

  &.medium .dropdown-body
    width: 12.5rem

  &.large .dropdown-body
    width: 22.5rem

  // Position
  &.left .dropdown-body
    left: 0

  &.right .dropdown-body
    right: 0

  // Inner styling
  h1, h2, h3, h4, h5, h6
    margin: 0

  .dropdown-header
    background: $dropdown-header-background
    padding: 0.875rem 1rem

  .dropdown-item
    padding: 0.675rem 1rem
    display: block
    font-size: 1rem
    font-weight: 400
    font-family: $font-family-base
    border-bottom: 1px solid $dropdown-header-background

    &:last-child
      border-bottom: 0

  .dropdown-divider
    width: 100%
    height: 1px
    background: $dropdown-header-background

  &.navbar-item
    margin-right: 1.25rem

  a,
  a:visited
    color: $font-color
