@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Work+Sans|Source+Sans+Pro");
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  overflow-x: hidden;
  height: 100%;
}

input:-webkit-autofill {
  background-color: #FFF !important;
  box-shadow: 0 0 0 1000px #FFF inset !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: 600;
}

code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 1rem;
}

small {
  font-size: 87.5%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25rem;
}

sup {
  top: -0.5rem;
}

[hidden] {
  display: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

details {
  display: block;
}

summary {
  display: list-item;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

main {
  display: block;
}

@-ms-viewport {
  width: device-width;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background: #923D89;
  font-size: 100%;
  min-height: 100%;
  word-break: break-word;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background: #EAEFF3;
  line-height: 1.5;
  color: #282828;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
}

.btn,
button,
[type='submit'],
a.btn,
a.btn:visited {
  font-family: "Source Sans Pro", sans-serif;
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 0.875rem;
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.08);
  letter-spacing: 0.025em;
  color: #F1F1F1;
  text-decoration: none;
  transition: all 0.15s 0.19, 1, 0.22, 1;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: 0;
  border-radius: 0.4375rem;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11);
  background: linear-gradient(15deg, #3ECF5E, #249c3f);
}

.btn.primary,
button.primary,
[type='submit'].primary,
a.btn.primary,
a.btn:visited.primary {
  background: linear-gradient(15deg, #F7A3EE, #f35be2);
}

.btn.secondary,
button.secondary,
[type='submit'].secondary,
a.btn.secondary,
a.btn:visited.secondary {
  background: linear-gradient(15deg, #3ECF8E, #249c66);
}

.btn.success,
button.success,
[type='submit'].success,
a.btn.success,
a.btn:visited.success {
  background: linear-gradient(15deg, #3ECF5E, #249c3f);
}

.btn.success:active,
button.success:active,
[type='submit'].success:active,
a.btn.success:active,
a.btn:visited.success:active {
  background: linear-gradient(365deg, #3ECF5E, #249c3f);
}

.btn.warning,
button.warning,
[type='submit'].warning,
a.btn.warning,
a.btn:visited.warning {
  background: linear-gradient(15deg, #F1950F, #d48512);
}

.btn.warning:active,
button.warning:active,
[type='submit'].warning:active,
a.btn.warning:active,
a.btn:visited.warning:active {
  background: linear-gradient(15deg, #F1950F, #d48512);
}

.btn.error,
button.error,
[type='submit'].error,
a.btn.error,
a.btn:visited.error {
  background: linear-gradient(15deg, #E74C3C, #c12515);
}

.btn.error:active,
button.error:active,
[type='submit'].error:active,
a.btn.error:active,
a.btn:visited.error:active {
  background: linear-gradient(365deg, #E74C3C, #c12515);
}

.btn:hover,
button:hover,
[type='submit']:hover,
a.btn:hover,
a.btn:visited:hover {
  color: #FFF;
  transform: translateY(-1px);
  box-shadow: 0 8px 12px rgba(50, 50, 93, 0.11);
}

.btn:disabled,
button:disabled,
[type='submit']:disabled,
a.btn:disabled,
a.btn:visited:disabled {
  cursor: not-allowed;
  opacity: 0.875;
}

.btn:active,
button:active,
[type='submit']:active,
a.btn:active,
a.btn:visited:active {
  transform: scale(0.975);
}

.btn.tiny,
button.tiny,
[type='submit'].tiny,
a.btn.tiny,
a.btn:visited.tiny {
  height: 2rem;
  line-height: 2rem;
  font-size: 0.95rem;
}

.btn.outline,
button.outline,
[type='submit'].outline,
a.btn.outline,
a.btn:visited.outline {
  background: transparent;
  color: #EEE;
  border: 2px solid #EEE;
}

.btn.outline:focus,
button.outline:focus,
[type='submit'].outline:focus,
a.btn.outline:focus,
a.btn:visited.outline:focus {
  border: 2px solid #EEE;
  box-shadow: inset rgba(255, 234, 252, 0.5) 0 0 0.75rem;
}

.btn.outline:active,
button.outline:active,
[type='submit'].outline:active,
a.btn.outline:active,
a.btn:visited.outline:active {
  background: transparent;
}

::-webkit-scrollbar {
  width: 16px;
  background: #EAEFF3;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-track:hover {
  background: #EAEFF3;
}

::-webkit-scrollbar-thumb {
  background: rgba(17, 17, 17, 0.5);
  border-radius: 16px;
  border: 5px solid #EAEFF3;
}

::-webkit-scrollbar-thumb:hover {
  background: #111, 0.65;
  border: 4px solid #EAEFF3;
}

.container, .gallery.is-center {
  width: 90%;
  max-width: 75rem;
  margin: 0 auto;
  padding: 2.5rem 1.25rem;
}

.container.is-small, .is-small.gallery.is-center {
  max-width: 40rem;
}

.container.is-medium, .is-medium.gallery.is-center {
  max-width: 60rem;
}

figure {
  margin: 1.25rem 2.5rem;
}

figure figcaption {
  display: inline-block;
}

figure.is-center {
  text-align: center;
}

img {
  vertical-align: middle;
}

img.is-responsive {
  width: 100%;
  height: auto;
}

hr {
  display: block;
  position: relative;
  outline: 0;
  border: 0;
  margin-bottom: 2.5rem;
}

hr::after {
  content: '';
  background: linear-gradient(to right, transparent, #cad6e0, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 0.5px;
  opacity: 0.5;
}

hr.or::before {
  content: 'or';
  text-align: center;
  line-height: 1.6;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background: #b9cad7;
  transform: translate(-50%, -50%);
  font-size: 0.75rem;
  position: absolute;
  left: 50%;
  z-index: 1;
}

fieldset {
  padding: 1.25rem;
  border-width: 0;
  border-radius: 0.875rem;
}

fieldset.has-border {
  border-width: 1px;
}

fieldset.has-border.primary {
  border: 1px solid #F7A3EE;
}

fieldset.has-border.secondary {
  border: 1px solid #3ECF8E;
}

fieldset.has-border.success {
  border: 1px solid #3ECF5E;
}

fieldset.has-border.warning {
  border: 1px solid #F1950F;
}

fieldset.has-border.error {
  border: 1px solid #E74C3C;
}

fieldset.has-border.white {
  border: 1px solid #FFF;
}

fieldset.has-border.black {
  border: 1px solid #111;
}

fieldset.has-shadow {
  box-shadow: 0 8px 12px rgba(50, 50, 93, 0.11);
}

fieldset legend {
  background: #923D89;
  color: #FFF;
  padding: 0.25rem 0.5rem;
}

form label {
  padding-left: 0.125rem;
  font-weight: 600;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='search'],
select,
textarea {
  width: 100%;
  padding: 0.875rem 1.25rem;
  margin: 0.5rem 0;
  display: inline-block;
  border: 1px solid #CCC;
  transition: opacity 0.25s;
  outline: 0;
  font-family: "Source Sans Pro", sans-serif;
  position: relative;
  border-radius: 0.4375rem;
}

input[type='text'].primary,
input[type='password'].primary,
input[type='email'].primary,
input[type='search'].primary,
select.primary,
textarea.primary {
  border: 1px solid #F7A3EE;
}

input[type='text'].secondary,
input[type='password'].secondary,
input[type='email'].secondary,
input[type='search'].secondary,
select.secondary,
textarea.secondary {
  border: 1px solid #3ECF8E;
}

input[type='text'].success,
input[type='password'].success,
input[type='email'].success,
input[type='search'].success,
select.success,
textarea.success {
  border: 1px solid #3ECF5E;
}

input[type='text'].warning,
input[type='password'].warning,
input[type='email'].warning,
input[type='search'].warning,
select.warning,
textarea.warning {
  border: 1px solid #F1950F;
}

input[type='text'].error,
input[type='password'].error,
input[type='email'].error,
input[type='search'].error,
select.error,
textarea.error {
  border: 1px solid #E74C3C;
}

input[type='text'].white,
input[type='password'].white,
input[type='email'].white,
input[type='search'].white,
select.white,
textarea.white {
  border: 1px solid #FFF;
}

input[type='text'].black,
input[type='password'].black,
input[type='email'].black,
input[type='search'].black,
select.black,
textarea.black {
  border: 1px solid #111;
}

input[type='text']:-ms-input-placeholder,
input[type='password']:-ms-input-placeholder,
input[type='email']:-ms-input-placeholder,
input[type='search']:-ms-input-placeholder,
select:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: inherit;
  opacity: 0.65;
}

input[type='text']::placeholder,
input[type='password']::placeholder,
input[type='email']::placeholder,
input[type='search']::placeholder,
select::placeholder,
textarea::placeholder {
  color: inherit;
  opacity: 0.65;
}

.text-primary {
  color: #F7A3EE;
}

.text-secondary {
  color: #3ECF8E;
}

.text-success {
  color: #3ECF5E;
}

.text-warning {
  color: #F1950F;
}

.text-error {
  color: #E74C3C;
}

.text-white {
  color: #FFF;
}

.text-black {
  color: #111;
}

.bg-primary {
  background: #F7A3EE;
}

.bg-secondary {
  background: #3ECF8E;
}

.bg-success {
  background: #3ECF5E;
}

.bg-warning {
  background: #F1950F;
}

.bg-error {
  background: #E74C3C;
}

.bg-white {
  background: #FFF;
}

.bg-black {
  background: #111;
}

.flex {
  display: -ms-flexbox;
  display: flex;
}

.justify-start {
  -ms-flex-pack: start;
      justify-content: flex-start;
}

.justify-center {
  -ms-flex-pack: center;
      justify-content: center;
}

.justify-end {
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.justify-between {
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.align-start {
  -ms-flex-align: start;
      align-items: flex-start;
}

.align-center {
  -ms-flex-align: center;
      align-items: center;
}

.align-end {
  -ms-flex-align: end;
      align-items: flex-end;
}

.direction-vertical {
  -ms-flex-direction: column;
      flex-direction: column;
}

.direction-horizontal {
  -ms-flex-direction: row;
      flex-direction: row;
}

.center {
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.is-hidden {
  display: none;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.rounded {
  border-radius: 50%;
}

.size-full-height {
  min-height: 100vh;
}

.size-full-width {
  width: 100%;
}

.size-full {
  width: 100%;
  min-height: 100vh;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

p {
  margin: 0 0 1.5rem 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
}

/* stylelint-disable */
/* stylelint-enable */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  margin: 0 0 1.5rem 0;
  font-family: "Work Sans", serif;
  font-weight: 600;
}

ul,
ol {
  margin-top: 0;
  margin: 0 0 1.5rem 1.5rem;
  padding-left: 0;
  list-style-position: inside;
}

ul li,
ol li {
  margin-bottom: 0.75rem;
}

ul li:last-child,
ol li:last-child {
  margin-bottom: 0;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-left: 2.5rem;
}

a {
  color: #F7A3EE;
  text-decoration: none;
  background-color: transparent;
}

a:visited {
  color: #8b3a82;
}

q::before {
  content: open-quote;
}

q::after {
  content: close-quote;
}

blockquote {
  background: #dde5ec;
  border-left: 0.875rem solid #c3d1dd;
  margin: 2.5rem 0;
  padding: 1.25rem 1.66667rem;
  quotes: "“" "”" "‘" "’";
}

blockquote:lang(sv) {
  quotes: '\201D' '\201D' '\2019' '\2019';
}

blockquote:lang(da) {
  quotes: '\00BB' '\00AB' '\203A' '\2039';
}

blockquote::before {
  content: open-quote;
}

blockquote::after {
  content: close-quote;
}

blockquote p {
  display: inline;
}

code,
pre {
  overflow-wrap: break-word;
  padding: 0.41667rem 0.625rem;
  margin: 0 0.25rem 2.5rem;
  white-space: nowrap;
  background: #dae3ea;
  border: 1px solid #cad6e0;
  font-family: "Consolas", "Monaco", "Menlo", monospace;
  font-size: 90%;
  border-radius: 0.4375rem;
}

.topbar {
  width: 100%;
  height: 6.25rem;
  background: #F7A3EE;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  box-shadow: 0 16px 24px rgba(50, 50, 93, 0.11);
}

.topbar.primary {
  background: linear-gradient(15deg, #F7A3EE, #f35be2);
}

.topbar.secondary {
  background: linear-gradient(15deg, #3ECF8E, #249c66);
}

.topbar.success {
  background: linear-gradient(15deg, #3ECF5E, #249c3f);
}

.topbar.warning {
  background: linear-gradient(15deg, #F1950F, #d48512);
}

.topbar.error {
  background: linear-gradient(15deg, #E74C3C, #c12515);
}

.topbar.is-fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

.navbar {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  padding: 0.625rem 1.25rem;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.navbar.primary {
  background: linear-gradient(15deg, #F7A3EE, #f35be2);
}

.navbar.secondary {
  background: linear-gradient(15deg, #3ECF8E, #249c66);
}

.navbar.success {
  background: linear-gradient(15deg, #3ECF5E, #249c3f);
}

.navbar.warning {
  background: linear-gradient(15deg, #F1950F, #d48512);
}

.navbar.error {
  background: linear-gradient(15deg, #E74C3C, #c12515);
}

.navbar .navbar-brand {
  margin: 0 1.25rem 0 0;
}

.navbar .navbar-brand h1,
.navbar .navbar-brand h2,
.navbar .navbar-brand h3,
.navbar .navbar-brand h4,
.navbar .navbar-brand h5,
.navbar .navbar-brand h6 {
  margin: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.navbar ul li {
  margin: 0;
}

.navbar ul li.navbar-item {
  margin-right: 1.25rem;
}

.navbar ul li.navbar-item a,
.navbar ul li.navbar-item a:visited {
  color: #EAEFF3;
  font-size: 1.15rem;
  font-family: "Work Sans", serif;
  transition: all 0.15s 0.19, 1, 0.22, 1;
  font-weight: 400;
}

.navbar ul li.navbar-item a:hover,
.navbar ul li.navbar-item a:visited:hover {
  color: #fafbfc;
  text-decoration: underline;
}

.navbar ul li.navbar-item:last-child {
  margin-right: 0;
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  display: block;
}

.has-fixed-topbar .wrapper {
  padding-top: 6.25rem;
}

.has-left-sidebar .wrapper {
  padding-left: 17.5rem;
}

.has-right-sidebar .wrapper {
  padding-right: 17.5rem;
}

.dropdown.is-visible .dropdown-body, .dropdown:hover .dropdown-body {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  box-shadow: 0 8px 12px rgba(50, 50, 93, 0.11);
}

.dropdown {
  width: 100%;
  position: relative;
  display: inline-block;
}

.dropdown .dropdown-title {
  padding: 0.5rem 0;
  cursor: pointer;
  word-break: keep-all;
}

.dropdown .dropdown-title a,
.dropdown .dropdown-title a:visited {
  color: #282828;
}

.dropdown .dropdown-body {
  overflow: hidden;
  width: 100%;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  background: #FFF;
  color: #282828;
  box-shadow: 0;
  padding: 0;
  transform: translateY(1rem);
  transition: all 0.2s ease-out;
  border-radius: 0.4375rem;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11);
}

.dropdown .dropdown-body ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.dropdown .dropdown-body ul li {
  margin: 0;
}

.dropdown.small .dropdown-body {
  width: 8rem;
}

.dropdown.medium .dropdown-body {
  width: 12.5rem;
}

.dropdown.large .dropdown-body {
  width: 22.5rem;
}

.dropdown.left .dropdown-body {
  left: 0;
}

.dropdown.right .dropdown-body {
  right: 0;
}

.dropdown h1, .dropdown h2, .dropdown h3, .dropdown h4, .dropdown h5, .dropdown h6 {
  margin: 0;
}

.dropdown .dropdown-header {
  background: #EAEFF3;
  padding: 0.875rem 1rem;
}

.dropdown .dropdown-item {
  padding: 0.675rem 1rem;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  border-bottom: 1px solid #EAEFF3;
}

.dropdown .dropdown-item:last-child {
  border-bottom: 0;
}

.dropdown .dropdown-divider {
  width: 100%;
  height: 1px;
  background: #EAEFF3;
}

.dropdown.navbar-item {
  margin-right: 1.25rem;
}

.dropdown a,
.dropdown a:visited {
  color: #282828;
}

.columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(17.5rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
  grid-auto-flow: row;
  grid-gap: 2.5rem;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(17rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  grid-auto-flow: row;
  grid-gap: 2.5rem;
}

.card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  overflow: hidden;
  background: #FAFAFA;
  border-radius: 0.875rem;
  box-shadow: 0 8px 12px rgba(50, 50, 93, 0.11);
}

.card img {
  width: 100%;
  height: auto;
}

.card .card-body {
  padding: 1.25rem;
  height: 100%;
}

.card .card-body h4 {
  font-size: 1.25rem;
  margin: 0;
}

.card .card-footer {
  width: 100%;
  background: linear-gradient(190deg, #ECE9E6, #FFF);
  padding: 0.5rem;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  grid-gap: 2.5rem;
  -ms-flex-align: center;
      align-items: center;
}

.gallery img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 640px) {
  .gallery {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1020px) {
  .gallery {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.modal {
  background: #FFF;
  color: #666;
  opacity: 0;
  box-shadow: 0;
  transform: translate(-50%, -50%);
  visibility: hidden;
  transition: transform, opacity 0.5s ease-out;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  border-radius: 0.875rem;
}

.modal .modal-close {
  opacity: 0;
  cursor: pointer;
  font-size: 2.5rem;
  line-height: 0.75;
  transform: translate(2.5rem, -2.5rem);
  position: absolute;
  top: 1.75em;
  right: 1.75em;
}

.modal .modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.modal.is-active {
  visibility: visible;
  padding: 1rem;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.75);
  opacity: 1;
}

.modal.is-active .modal-close {
  opacity: 1;
}

.modal.x-large {
  max-width: 1020px;
}

.modal.large {
  max-width: 800px;
}

.modal.medium {
  max-width: 640px;
}

.modal.small {
  max-width: 400px;
}

.pill {
  margin-left: 0.625rem;
  padding: 0.125rem 0.375rem;
  display: inline-block;
  height: 1.075rem;
  border-radius: 1.075rem;
  background: #EAEFF3;
  font-size: 0.675rem;
  font-weight: 600;
  line-height: 1.225;
  text-align: center;
  color: #FFF;
  word-break: keep-all;
}

.pill.primary {
  background: linear-gradient(15deg, #F7A3EE, #f35be2);
}

.pill.secondary {
  background: linear-gradient(15deg, #3ECF8E, #249c66);
}

.pill.success {
  background: linear-gradient(15deg, #3ECF5E, #249c3f);
}

.pill.warning {
  background: linear-gradient(15deg, #F1950F, #d48512);
}

.pill.error {
  background: linear-gradient(15deg, #E74C3C, #c12515);
}

.sidebar {
  width: 17.5rem;
  height: 100%;
  background: #dae3ea;
  border-right: 1px solid #cad6e0;
  transition: width 0.2s ease-out;
  overflow-y: scroll;
  position: fixed;
  bottom: 0;
}

.sidebar:hover {
  width: 17.5rem;
}

.has-fixed-topbar .sidebar {
  top: 6.25rem;
  height: calc(100% - 6.25rem);
}

.sidebar.left {
  left: 0;
}

.sidebar.right {
  right: 0;
}

.menu {
  padding: 1.25rem;
}

.menu-list {
  line-height: 1.25;
}

.menu-list a {
  border-radius: 0.625rem;
  color: #333;
  display: block;
  padding: 0.5em 0.75em;
}

.menu-list a:hover {
  background-color: #EAEFF3;
  color: #222;
}

.menu-list a.is-active {
  background-color: #3ECF8E;
  color: #FFF;
}

.menu-list li {
  cursor: pointer;
  list-style-type: none;
  margin: 0;
}

.menu-list li ul {
  border-left: 2px solid #b9cad7;
  margin: 0.75em;
  padding-left: 0.75em;
}

.menu-label {
  color: #333;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.menu-label:not(:first-child) {
  margin-top: 1rem;
}

.menu-label:not(:last-child) {
  margin-bottom: 1rem;
}

/*# sourceMappingURL=lily.css.map */