.menu
  padding: ($gap / 2)

.menu-list
  line-height: 1.25

  a
    border-radius: ($spacing / 2)
    color: #333
    display: block
    padding: 0.5em 0.75em

    &:hover
      background-color: $bg-light
      color: #222

    // Modifiers
    &.is-active
      background-color: $secondary
      color: #FFF

  li
    cursor: pointer
    list-style-type: none
    margin: 0

    ul
      border-left: 2px solid darken($bg-light, 15%)
      margin: 0.75em
      padding-left: 0.75em

.menu-label
  color: #333
  font-size: 0.9rem
  font-weight: 600
  letter-spacing: 0.1em
  text-transform: uppercase

  &:not(:first-child)
    margin-top: 1rem

  &:not(:last-child)
    margin-bottom: 1rem