.columns
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr)) // This line does some magic for responsive layouts, the first minmax value is crucial for column width, specified in rem here
  grid-auto-flow: row
  grid-gap: $gap