.pill
  margin-left: $spacing / 2
  padding: 0.125rem 0.375rem
  display: inline-block
  height: 1.075rem
  border-radius: 1.075rem
  background: $bg-light

  font-size: 0.675rem
  font-weight: 600
  line-height: 1.225
  text-align: center
  color: #FFF
  word-break: keep-all

  +backgrounds
