.topbar
  width: 100%
  height: $topbar-height
  background: $topbar-background
  display: flex
  align-items: center
  +shadowOrNot ($topbar-shadow, $topbar-shadow-size)
  +backgrounds

  &.is-fixed
    +position (fixed, 0, 0, null, 0, $topbar-z)
