code,
pre
  overflow-wrap: break-word
  padding: ($spacing / 3) ($spacing / 2)
  margin: 0 0.25rem $gap
  white-space: nowrap
  background: darken($bg-light, 5%)
  border: 1px solid darken($bg-light, 10%)
  font-family: $code-font
  font-size: 90%
  +radius(small)
