@import '../../settings/ratios'

/* stylelint-disable */
$h1: round($h1 * $ratio)
$h2: round($h2 * $ratio)
$h3: round($h3 * $ratio)
$h4: round($h4 * $ratio)
$h5: round($h5 * $ratio)
$h6: round($body)
/* stylelint-enable */

$headings: (h1: calculateRem($h1), h2: calculateRem($h2), h3: calculateRem($h3), h4: calculateRem($h4), h5: calculateRem($h5), h6: calculateRem($h6))

h1,
h2,
h3,
h4,
h5,
h6
  line-height: $line-height
  margin: 0 0 #{$line-height}rem 0
  font-family: $heading-font
  +thiccOrThin ($heading-font-bold)
