a
  color: $branding-1
  text-decoration: none
  background-color: transparent

  // +hover
  //   color: white
  //   text-decoration: underline

  &:visited
    color: darken($branding-2, 2%) // Maybe a slightly darker color?