ul,
ol
  margin-top: 0
  margin: 0 0 #{$line-height}rem #{$line-height}rem
  padding-left: 0
  list-style-position: inside

  li
    margin-bottom: #{$line-height / 2}rem

    &:last-child
      margin-bottom: 0

  ul,
  ol
    margin-left: $gap
