q

  &::before
    content: open-quote

  &::after
    content: close-quote

blockquote
  background: darken($bg-light, 4%)
  border-left: 0.875rem solid darken($bg-light, 12%)
  margin: $gap 0
  padding: $spacing ($gap / 3) * 2
  quotes: '\201C''\201D''\2018''\2019'

  &:lang(sv)
    quotes: '\201D' '\201D' '\2019' '\2019'

  &:lang(da)
    quotes: '\00BB' '\00AB' '\203A' '\2039'

  &::before
    content: open-quote

  &::after
    content: close-quote

  p
    display: inline
