<template>

  <section class="section container is-small">

    <h1>Hello World</h1>
    <p>Lorem ipsum<sup><a>[1]</a></sup> dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum mattis neque. Sub<sub>script</sub> works as well!</p>
    <p>Sed sagittis enim ac tortor maximus rutrum. Nulla facilisi. Donec mattis vulputate risus in luctus. Maecenas vestibulum interdum commodo.</p>

    <h2>Second level</h2>
    <p>Curabitur accumsan turpis pharetra <strong>augue tincidunt</strong> blandit. Quisque condimentum maximus mi, sit amet commodo arcu rutrum id.</p>
    
    <ul>
      <li>In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
      <li>Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
      <li>Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.</li>
      <li>Ut non enim metus.</li>
    </ul>

    <h3>Third level</h3>
    
    <p>Quisque ante lacus, malesuada ac auctor vitae, congue <a href="#">non ante</a>. Phasellus lacus ex, semper ac tortor nec.</p>
    
    <ol>
      <li>Donec blandit a lorem id convallis.</li>
      <li>Cras gravida arcu at diam gravida gravida.</li>
      <li>Integer in volutpat libero.</li>
      <li>Donec a diam tellus.</li>
    </ol>

    <blockquote>Ut venenatis, nisl scelerisque sollicitudin fermentum, quam libero hendrerit ipsum, ut blandit est tellus sit amet turpis.</blockquote>

    <h4>Fourth level</h4>
    <p>Nulla efficitur eleifend nisi, sit amet bibendum sapien fringilla ac. Mauris euismod metus a tellus laoreet, at elementum ex efficitur.</p>

    <table>
      <thead>
        <tr>
          <th>One</th>
          <th>Two</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Three</td>
          <td>Four</td>
        </tr>
        <tr>
          <td>Five</td>
          <td>Six</td>
        </tr>
        <tr>
          <td>Seven</td>
          <td>Eight</td>
        </tr>
        <tr>
          <td>Nine</td>
          <td>Ten</td>
        </tr>
        <tr>
          <td>Eleven</td>
          <td>Twelve</td>
        </tr>
      </tbody>
    </table>

    <p>Phasellus porttitor enim id metus volutpat ultricies. Ut nisi nunc, blandit sed dapibus at, vestibulum in felis. Etiam iaculis lorem ac nibh bibendum rhoncus. Nam interdum efficitur ligula sit amet ullamcorper. Etiam tristique, leo vitae porta faucibus, mi lacus laoreet metus, at cursus leo est vel tellus. Sed ac posuere est. Nunc ultricies nunc neque, vitae ultricies ex sodales quis. Aliquam eu nibh in libero accumsan pulvinar. Nullam nec nisl placerat, pretium metus vel, euismod ipsum. Proin tempor cursus nisl vel condimentum. Nam pharetra varius metus non pellentesque.</p>

    <h5>Fifth level</h5>
    <p>Aliquam sagittis rhoncus vulputate. Cras non luctus sem, sed tincidunt ligula.</p>

    <figure class="is-center"> 
      <img src="https://bulma.io/images/placeholders/256x256.png" />
      <figcaption>Figure 1: Some beautiful placeholders</figcaption>
    </figure>

    <h6>Sixth level</h6>
    <p>Cras in nibh lacinia, venenatis nisi et, auctor urna. Donec pulvinar lacus sed diam dignissim, ut eleifend eros accumsan. Phasellus non tortor eros. Ut sed rutrum lacus.</p>
    <p>Etiam purus nunc, scelerisque quis enim vitae, malesuada ultrices turpis. Nunc vitae maximus purus, nec consectetur dui. Suspendisse euismod, elit vel rutrum commodo, ipsum tortor maximus dui, sed varius sapien odio vitae est. Etiam at cursus metus.</p>
    <p>Aliquam sagittis rhoncus vulputate. Cras non luctus sem, sed tincidunt ligula.</p>

  </section>

  <section class="container is-small forms">
    <h2>Forms</h2>

    <fieldset class="has-border primary">
      <legend>Forms</legend>
      <form>
        <label for="normal">Normal</label>
        <input type="text" placeholder="Normal" id="normal" />

        <label for="success">Success</label>
        <input class="success" type="text" placeholder="Success" id="success" />

        <label for="warning">Warning</label>
        <input class="warning" type="text" placeholder="Warning" id="warning" />

        <label for="error">Error</label>
        <input class="error" type="text" placeholder="Error" id="error" />

        <label for="textarea">Additional Details</label>
        <textarea placeholder="Additional details..." id="textarea"></textarea>
      </form>
    </fieldset>
  </section>

  <section class="container is-small buttons">

    <h2>Buttons</h2>

    <div>
      <button class="btn">Normal</button>
      <button class="btn primary">Primary</button>
      <button class="btn secondary">Secondary</button>
    </div>

    <div>
      <button class="btn success">Success</button>
      <button class="btn warning">Warning</button>
      <button class="btn error">Error</button>
    </div>

  </section>

</template>

<script>
  
    Element `view-components`
    
    (class extends HTMLElement {
    
    })
    
  </script>
  