<template class="navbar">

  <div class="navbar-brand">
    <h1 class="text-white">🌷 LilyCSS</h1>
  </div>

  <ul class="navbar-items">
    <li class="navbar-item">
      <a href="/">Home</a>
    </li>

    <li class="navbar-item">
      <a href="/elements">Elements</a>
    </li>

    <li class="navbar-item">
      <a href="/components">Components</a>
    </li>
  </ul>

</template>
  
<script>
  
  Element `nav-bar`
  
  (class extends HTMLElement {
  
  })
  
</script>
