<template class="sidebar">

  <aside class="menu">
    <p class="menu-label">Layout</p>
    <ul class="menu-list">
      <li><a>Sidebar</a></li>
      <li><a>Topbar</a></li>
      <li><a>Wrapper</a></li>
    </ul>

    <p class="menu-label">General</p>
    <ul class="menu-list">
      <li><a>Dashboard</a></li>
      <li><a>Customers</a></li>
    </ul>

    <p class="menu-label">Components</p>
    <ul class="menu-list">
      <li>
        <strong>Cards</strong>
        <ul>
          <li><a>Cards</a></li>
          <li><a>Card</a></li>
        </ul>
      </li>
      <li>
        <strong>Columns</strong>
        <ul>
          <li><a>Columns</a></li>
          <li><a>Column</a></li>
        </ul>
      </li>
      <li><a>Dropdown</a></li>
      <li><a>Gallery</a></li>
      <li><a>Menu</a></li>
      <li><a>Modal</a></li>
      <li><a>Menu</a></li>
      <li><a>Navbar</a></li>
      <li><a>Pill</a></li>
    </ul>
  </aside>

</template>
  
<script>
  
  Element `side-bar`
  
  (class extends HTMLElement {
  
  })
  
</script>
