.cards
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr)) // This line does some magic for responsive layouts, the first minmax value is crucial for column width, specified in rem here
  grid-auto-flow: row
  grid-gap: $gap

  // grid-auto-rows: 2em
  // column-gap: $gap / 2

  // +respond (tablet)
  //   grid-template-columns: repeat(2, 1fr)

  // +respond (desktop)
  //   grid-template-columns: repeat(3, 1fr)
  //   column-gap: $gap

  // +respond (xl-desktop)
  //   grid-template-columns: repeat(4, 1fr)