.card
  display: flex
  flex-direction: column
  overflow: hidden
  background: #FAFAFA
  +radius (medium)
  +shadow (medium)
  
  img
    width: 100%
    height: auto

  .card-body
    padding: $spacing
    height: 100%

    h4
      font-size: 1.25rem
      margin: 0

  .card-footer
    width: 100%
    background: linear-gradient(190deg, #ECE9E6, #FFF)
    padding: 0.5rem
