// Flexbox Utilities
.flex
  display: flex

.justify-start
  justify-content: flex-start

.justify-center
  justify-content: center

.justify-end
  justify-content: flex-end

.justify-between
  justify-content: space-between

.align-start
  align-items: flex-start

.align-center
  align-items: center

.align-end
  align-items: flex-end

.direction-vertical
  flex-direction: column

.direction-horizontal
  flex-direction: row

.center
  flex-direction: column
  justify-content: center
  align-items: center