.wrapper
  width: 100vw
  min-height: 100vh
  display: block

  .has-fixed-topbar &
    padding-top: $topbar-height

  .has-left-sidebar &
    padding-left: $sidebar-width

  .has-right-sidebar &
    padding-right: $sidebar-width
