.modal
  background: #FFF
  color: #666
  opacity: 0
  box-shadow: 0
  transform: translate(-50%, -50%)
  visibility: hidden
  transition: transform, opacity 0.5s ease-out
  +position (fixed, 50%, null, null, 50%, $modal-z)
  +radius (medium)

  .modal-close
    opacity: 0
    cursor: pointer
    font-size: 2.5rem
    line-height: 0.75
    transform: translate(2.5rem, -2.5rem)
    +position (absolute, 1.75em, 1.75em, null, null, null)

  .modal-footer
    display: flex
    flex-direction: row
    justify-content: space-between

  &.is-active
    visibility: visible
    padding: 1rem
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.75)
    opacity: 1

    .modal-close
      opacity: 1

  // Sizes
  &.x-large
    max-width: 1020px

  &.large
    max-width: 800px

  &.medium
    max-width: 640px

  &.small
    max-width: 400px