.navbar
  width: 100%
  display: flex
  flex-wrap: wrap
  align-items: center
  padding: ($spacing / 2) $spacing
  +spaceBetween ($navbar-space-between)
  +backgrounds

  .navbar-brand
    margin: 0 $spacing 0 0

    h1,
    h2,
    h3,
    h4,
    h5,
    h6
      margin: 0

  ul
    margin: 0
    padding: 0
    display: flex
    list-style-type: none

    li
      margin: 0

      &.navbar-item
        margin-right: $spacing

        a,
        a:visited
          color: $navbar-item-color
          font-size: $navbar-item-size
          font-family: $font-family-alt
          transition: $transition-all
          +thiccOrThin ($navbar-item-bold)

          &:hover
            color: $navbar-item-color-hover
            text-decoration: underline

        &:last-child
          margin-right: 0
