=position($position: absolute, $top: null, $right: null, $bottom: null, $left: null, $zIndex: null)
  position: $position
  top: $top
  right: $right
  bottom: $bottom
  left: $left
  z-index: $zIndex
