=radius ($size: small)

  @if $enable-radius
    @if $size == 'small'
      border-radius: ($border-radius / 2)
    @if $size == 'medium'
      border-radius: $border-radius
    @if $size == 'large'
      border-radius: ($border-radius * 2)

  @else
    border-radius: 0
