=scrollbar ($bool)
  @if $bool
    ::-webkit-scrollbar
      width: 16px
      background: $bg-light

    ::-webkit-scrollbar-track
      background: transparent

      &:hover
        background: $bg-light

    ::-webkit-scrollbar-thumb
      background: rgba($black, 0.5)
      border-radius: 16px
      border: 5px solid $bg-light

      &:hover
        background: ($black, 0.65)
        border: 4px solid $bg-light
