=shadow($size)
  @if $enable-shadows
    @if $size == 'small'
      box-shadow: 0 4px 6px rgba(50,50,93,.11)
    @if $size == 'medium'
      box-shadow: 0 8px 12px rgba(50,50,93,.11)
    @if $size == 'large'
      box-shadow: 0 16px 24px rgba(50,50,93,.11)
  @else
    box-shadow: 0
