.gallery
  display: grid
  grid-template-columns: 1fr
  grid-auto-rows: min-content
  grid-gap: $gap
  align-items: center

  &.is-center
    @extend .container

  img
    width: 100%
    height: auto
    object-fit: contain

  +respond (phablet)
    grid-template-columns: repeat(2, 1fr)

  +respond (desktop)
    grid-template-columns: repeat(3, 1fr)
