.sidebar
  width: $sidebar-width
  height: 100%
  background: darken($bg-light, 5%)
  border-right: 1px solid darken($bg-light, 10%)
  transition: width 0.2s ease-out
  overflow-y: scroll
  +position (fixed)
  bottom: 0

  &:hover
    width: $sidebar-width

  .has-fixed-topbar &
    top: $topbar-height
    height: calc(100% - #{$topbar-height})

  &.left
    left: 0

  &.right
    right: 0

  // &.is-fixed
  //   height: 100vh
  //   +position (fixed)

  //   .has-fixed-topbar &
  //     height: calc(100vh - #{$topbar-height})