.btn,
button,
[type='submit'],
a.btn,
a.btn:visited
  font-family: $button-font
  cursor: pointer
  white-space: nowrap
  display: inline-block
  height: 2.5rem
  line-height: 2.5rem
  padding: 0 0.875rem
  margin: 0.5rem
  font-size: 1rem
  font-weight: 600
  text-transform: uppercase
  text-shadow: 2px 2px rgba(0, 0, 0, 0.08)
  letter-spacing: 0.025em
  color: #F1F1F1
  text-decoration: none
  transition: $transition-all
  appearance: none
  outline: none
  border: 0
  +radius (small)
  +shadow (small)
  +background (success)
  +backgrounds ($active: true)

  &:hover
    color: $white
    transform: translateY(-1px)
    +shadow (medium)
  
  &:disabled
    cursor: not-allowed
    opacity: 0.875
  
  &:active
    transform: scale(0.975)

  // Tiny
  &.tiny
    height: 2rem
    line-height: 2rem
    font-size: 0.95rem

  // Outline
  &.outline
    background: transparent
    color: #EEE
    border: 2px solid #EEE
  
    &:focus
      border: 2px solid #EEE
      box-shadow: inset rgba(255, 234, 252, 0.5) 0 0 0.75rem

    &:active
      background: transparent