+scrollbar ($enable-custom-scrollbars)
+selection ($enable-custom-selection)

.container
  width: 90%
  max-width: $container-max-width
  margin: 0 auto
  padding: $gap $spacing

  &.is-small
    max-width: $container-max-width-small

  &.is-medium
    max-width: $container-max-width-medium
