hr
  display: block
  position: relative
  outline: 0
  border: 0
  margin-bottom: $gap

  &::after
    content: ''
    background: linear-gradient(to right, transparent, darken($bg-light, 10%), transparent)
    position: absolute
    left: 0
    top: 50%
    width: 100%
    height: 0.5px
    opacity: 0.5

  &.or

    &::before
      content: 'or'
      text-align: center
      line-height: 1.6
      width: 1.25rem
      height: 1.25rem
      border-radius: 50%
      background: darken($bg-light, 15%)
      transform: translate(-50%, -50%)
      font-size: 0.75rem
      +position (absolute, null, null, null, 50%, 1)
