@-ms-viewport
	width: device-width

*,
*::before,
*::after
  box-sizing: border-box
  text-rendering: optimizeLegibility
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased

html,
body
  margin: 0
  padding: 0

html
  background: $bg-dark
  font-size: 100%
  min-height: 100%
  word-break: break-word
  -ms-overflow-style: -ms-autohiding-scrollbar
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

body
  background: $bg-light
  line-height: $line-height
  color: $font-color
  font:
    family: $default-font
    size: 1rem
    weight: 400
    style: normal
