fieldset
  padding: ($gap / 2)
  border-width: 0
  +radius (medium)

  &.has-border
    border-width: 1px
    +borders

  &.has-shadow
    +shadow (medium)

  legend
    background: $bg-dark
    color: $white
    padding: $form-legend-padding

form

  label
    padding-left: 0.125rem
    +thiccOrThin ($form-label-bold)
    

input[type='text'],
input[type='password'],
input[type='email'],
input[type='search'],
select,
textarea
  width: 100%
  padding: 0.875rem 1.25rem
  margin: 0.5rem 0
  display: inline-block
  border: 1px solid #CCC
  transition: opacity 0.25s
  outline: 0
  font-family: $default-font
  position: relative
  +radius (small)
  +borders

  &::placeholder
    color: inherit
    opacity: 0.65
