/* stylelint-disable */
// ! Work in progress, do not import
// * SCSS because fuck sASS

// ! Need to have colors in map for gradient function for testing
//// $states: (primary: white, secondary: #333333, info: #eaeff3, success: #3ecf5e, warning: #f1950f, error: #e74c3c);
//// $enable-gradients: true;

// TODO Build function to check for darkness/lightness of colors

// Gets color from map, default to first value if key is null
@function get_map_color($col-map, $col-map-key) {
  @if $col-map-key == null {
    @return map_get($col-map, nth( map_keys($col-map) , 1));
  }
  @return map_get($col-map, $col-map-key); 
}

@mixin gradient-background(
    $map,               // Specify color map or color
    $map-key: null,     // Map key or secondary color
    $darken: 10%,       // Amount to darken color/secondary color
    $saturate: 2%,      // Amount to saturate
    $tilt: 15deg,       // Direction for gradient
    $hover: false       // Set to true for hover effect
  ) {
  // Fallback if gradients are disabled
  @if $enable-gradients == false {
    $color: get_map_color($map, $map-key);

     // * Outputted styling   
    background: $color;
    @if $hover {
      &:hover {
        background: darken($color, $darken);
      }
    }
  }
  // Handling gradients from map
  @else if type_of($map) == 'map' {
    $color: get_map_color($map, $map-key); 
  
    // * Outputted styling
    background: linear-gradient($tilt, $color, saturate(darken($color, $darken), $saturate));
    @if $hover {
      &:hover {
        background: linear-gradient($tilt - 10, $color, saturate(darken($color, $darken), $saturate));
      }
    }
  }
  
  // Handling gradients specified directly 
  @else if type_of($map) == 'color' {
    $primary-color: $map;
    
    // Setting default secondary color then checking for a secondary color and using that value 
    $secondary-color: $map;
    @if type_of($map-key) == 'color' {
      $secondary-color: $map-key;
      // TODO Fix a better way to set $darken and $saturate to default value and more dynamically
      $darken: 0;
      $saturate: 0;
    }
    
    // * Outputted styling
    background: linear-gradient($tilt, $primary-color, saturate(darken($secondary-color, $darken), $saturate));
    @if $hover {
      &:hover {
        background: linear-gradient($tilt - 10, $primary-color, saturate(darken($secondary-color, $darken), $saturate));
      }
    }
  }
  // TODO Improve error messsage, update with current usage
  @else {
    @error "Make sure to use either a map & key OR 2 colors, e.g. `+gradient-background($map, key || #fff, #333)`";
  }
}
//// .test {
////   @include gradient-background($states, "error", $hover: true)
//// }


/* stylelint-enable */



// ! Experimental stuff below, please ignore

// @each $key, $value in $states {
//   .#{$key} {
//     @include gradient-background($states, $key, $hover: true)
//   }
// }

// $grad-primary: linear-gradient(15deg, map-get($states, primary), saturate(darken(map-get($states, primary), 10%), 2%));
// $grad-primary-tilt: linear-gradient(365deg, map-get($states, primary), saturate(darken(map-get($states, primary), 10%), 2%));

// @mixin gradient-generator($color, $darken-amount, $saturation-amount, $tilt: 15deg) {
//   @if type_of($color) == "color" {
//     $gradient: linear-gradient($tilt, $color, saturate(darken($color, $darken-amount), $saturation-amount));
//   }
//   @else {
//     $gradient: linear-gradient($tilt, map-get($states, $color), saturate(darken(map-get($states, $color), $darken-amount), $saturation-amount));
//   }
// }

// $grad-states: ();

// @mixin gradient-gen($foo, $darken-amount: 10%, $saturation-amount: 2%, $tilt: 15deg) {
//   @if type_of($foo) == "map" {
//     @each $name, $color in $states {
//       --#{$name}: #{$color};
//       $grad-states: map_merge($grad-states, (#{$name}: 
//       linear-gradient($tilt,
//       $color,
//       saturate(
//       darken($color,
//       $darken-amount),
//       $saturation-amount
//       )
//       )
//       );)
      
//       ))
//     }
//   }
//   @else {
//     shit: failed;
//   }
// }



// .mixin {
//   @include gradient-gen($states);
// }
// @debug map_list($grad-states);

// .grad-states {
//   background: map_get($grad-states, primary);
// }
